<p>
  <strong>Title: </strong>
  <%= @condition.title %>
</p>

<p>
  <strong>Url_picture: </strong>
  <%= @condition.description %>
</p>
<%= link_to 'Edit', edit_admin_condition_path(@condition) %> |
<%= link_to 'Back', admin_conditions_path %>


