<tr>
  <td class="align-middle"><%= @bages_user.bages_rule.bage.title %></td>
  <td class="sort align-middle"><%= link_to "Bage's Picture", @bages_user.bages_rule.bage.url_picture  %></td>
  <td class="align-middle"><%= @bages_user.test_passage.test.title %></td>
  <td class="align-middle"><%= @bages_user.created_at %></td>
</tr>
