<tr>
  <td class="align-middle"><%= bage.id %></td>
  <td class="sort align-middle">
    <%= bage.title %>
  </td>
  <td class="align-middle"><%= link_to t('.url_picture'), bage.url_picture %></td>
</tr>
