<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if  @test_passage.success? %>
  <p style="color: green">Yor pass the test. You have <%= @test_passage.result %>% right questions</p>
<% else  %>
  <p style="color: red">Yor do not pass the test. You have <%= @test_passage.result %>% right questions</p>
  <% end %>

<%= link_to "Back to list of tests", tests_path, class: "btn btn-outline-info mb-3" %>
