<p>
  <strong>Title: </strong>
  <%= @bage.title %>
</p>

<p>
  <strong>Url_picture: </strong>
  <%= @bage.url_picture %>
</p>
<%= link_to 'Edit', edit_admin_bage_path(@bage) %> |
<%= link_to 'Back', admin_bages_path %>


