<%# <div class="justify-content-center mt-3"> %>
  <%# <div class="col col-md-4"> %>
  <div class="card border-primary">
      <div class="card-body">
      
      <p class="center_position"><%= year %>год <%= github_url('Сытин Николай Борисович', 'https://github.com/kokdot') %> </p>

      <p class="center_position"> Данный проект реализует учебную задачу по тестированию пользователей в различных областях знаний.</p>

      <p class="center_position"><%= link_to 'Учебный проект в онлайн-школе Thinknetica', "http://thinknetica.com", target: "_blank" %></p>
  </div>
</div>
